* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Redressed', cursive;
    color: white;
}
body {
    background-image: url("https://images.pexels.com/photos/3749174/pexels-photo-3749174.jpeg");
    max-width:  100%;
    height: 1350px;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: saddlebrown;
}

p.logo {

    /*background: url(https://images.pexels.com/photos/3749174/pexels-photo-3749174.jpeg);*/
    /*height: 1350px;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/

}


table {
    border-collapse: collapse;
    margin: 15px 0;
}


td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.header {
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}


h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
}
h2.addacafe {
    color: saddlebrown;
    font-family: "Roboto", sans-serif;
}

hr {
    opacity: 0.33;
}

.formTop {
    float: right;
    width: 50%;
    margin-right: 2em;
}


.formBottom {
    float: right;
    width: 50%;
    margin-right: 2em;
    margin-top: 1em;
}


.btn {
    margin-top: 1em;
    width: 100%;
    background-color: gray;
}
.noshow {
    display: none;

}

.coffeeName {
    margin-left: 30px;
    margin-bottom: 10px;
}

p {
    margin: 10px;
    opacity: .40;
}
.fotobuttom {

}