* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Redressed', cursive;
}

h1.logo {
    border: 10px solid black;
    padding: 35px;
    background: url(https://images.pexels.com/photos/3749174/pexels-photo-3749174.jpeg);
    background-repeat: no-repeat;
    background-origin: content-box;
}


table {
    border-collapse: collapse;
    margin: 15px 0;
}


td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.header {
    text-align: center;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
}


h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;

}

hr {
    opacity: 0.33;
}

.formTop {
    float: right;
    width: 50%;
    margin-right: 2em;
}


.formBottom {
    float: right;
    width: 50%;
    margin-right: 2em;
    margin-top: 1em;
}


.btn {
    margin-top: 1em;
    width: 100%;
}
.noshow {
    display: none;

}

.coffeeName {
    margin-left: 30px;
    margin-bottom: 10px;
}

p {
    margin: 10px;
    opacity: .40;
}